POSTGRES_DB=medical_appointment_mvp
POSTGRES_USER=medical_appointment_user
POSTGRES_PASSWORD=medical_appointment_password
POSTGRES_HOST_PORT=5433

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,backend
BACKEND_HOST_PORT=8001
FRONTEND_HOST_PORT=5174

VITE_API_BASE_URL=http://127.0.0.1:8001/api
